<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/Principal">Inicio</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
      </button>

    <div id="navbarNav" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/Juegos">Juegos<span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" routerLink="/Jugadores">Jugadores<span class="sr-only">(current)</span></a>
            </li>


            <!-- <li class="nav-item active">
                <a class="nav-link" routerLink="/Juegos/AdivinaMasListado">Adivina listado<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/Juegos/AgilidadaMasListado">Agilidad Listado<span class="sr-only">(current)</span></a>
            </li> -->
        </ul>
        <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
    </div>
</nav>