<!-- <ul class="navbar navbar-dark bg-dark">
    navbar-dark bg-dark
    <li class="active"><a routerLink="/Principal">Ir a inicio</a></li>
    <li><a (click)="TraerTodos()">Todos los jugadores</a></li>
    <li><a (click)="TraerGanadores()">Los ganadores</a></li>
    <li><a (click)="TraerPerdedores()">Los perdedores</a></li>
</ul> -->

<div class="container">

  <button type="button"  class="btn btn-primary btn-lg btn-block" (click)="CrearJugadores()">Crear Cliente</button><br>

  <button type="button" class="btn btn-success btn-lg btn-block" (click)="LoguearJugador()">Login Cliente</button><br>

  <button type="button" class="btn btn-secondary btn-lg btn-block" (click)="IngresarAuto()">Cargar Auto</button><br><hr>

  
  <button type="button" (click)='onUpload()' class="btn btn-primary col-md-6 btn-lg">Turno</button>
  <input 
  style="display: none;" 
  type="file" 
  (changed)="onFileSelectd($event)" 
  class="col-md-6"
  #fileInput>
  <button type="button" (click)="fileInput.click()" class="btn btn-secondary col-md-6 btn-lg">Cargar Archivo</button>

</div><hr>


<div class="container">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Email</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Puntaje</th>
            </tr>
        </thead>
        <tbody>
              
            <tr *ngFor="let jugador of jugadores let i = index" >
                <th scope="row">{{i + 1}}</th>
                <!-- <td>{{jugador.id}}</td> -->
                <td>{{jugador.email}} </td>
                <td>{{jugador.nombre}} </td>
                <td>{{jugador.apellido}} </td>
                <td>{{jugador.puntaje}}</td>
            </tr>
        </tbody>
    </table>
</div>
