<app-cabecera> </app-cabecera>


<div class="container">
    <div class="row">

        <div class="col-sm-3">
            <div class="card" style="background-color:darkkhaki">
                <a routerLink="/Juegos">
                    <img src="./assets/imagenes/saladejuegos.png" class="card-img-top" alt="Avatar" style="width:100%">
                    <div class="card-body">
                        <h3 style="text-align: center">Juegos</h3>
                        <small style="text-align: center">El método lúdico es un conjunto de estrategias diseñadas para crear un ambiente de armonía en los estudiantes que están inmersos en el proceso de aprendizaje.</small>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card" style="background-color:darkkhaki">
                <a routerLink="/Listado">
                    <img src="./assets/imagenes/listado.jpg" class="card-img-top" alt="Avatar" style="width:100%">
                    <div class="card-body">
                        <h3 style="text-align: center">Listados de resultados</h3>
                        <small style="text-align: center">Los listados de los resultados con ordenamiento y busqueda</small>
                    </div>
                </a>
            </div>
        </div>


        <div class="col-sm-3">
            <div class="card" style="background-color:darkkhaki">
                <a routerLink="/Juegos">
                    <img src="./assets/imagenes/Configuracion.png" class="card-img-top" alt="Avatar" style="width:100%">
                    <div class="media-body">
                        <h3 style="text-align: center">Configuraci&oacute;n</h3>
                        <small style="text-align: center">Ajustes de la aplicacion y los métodos de autentificación</small>
                    </div>
                </a>
            </div>
        </div>


        <div class="col-sm-3">
            <div class="card" style="background-color:darkkhaki">
                <a routerLink="/Jugadores">
                    <img src="./assets/imagenes/jugadores.png" class="card-img-top" alt="Avatar" style="width:100%">
                    <div class="media-body">
                        <h3 style="text-align: center">Jugadores</h3>
                        <p style="text-align: center">Listado de jugadores</p>
                    </div>
                </a>
            </div>
        </div>

    </div>
</div>
<br>
<br>
<br>
<br>