<!--div style="margin: 20% auto; width: 30%;">
  <div class="row">
    <div class="col-lg-6">
      Usuario
    </div>
    <div class="col-lg-6">
      <input type="text"  [(ngModel)]="usuario">
    </div>
  </div>
  <div class="row" style="margin-top: 5px">
    <div class="col-lg-6">
      Clave
    </div>
    <div class="col-lg-6">
      <input type="password" [(ngModel)]="clave">
    </div>
  </div>
  <div class="row" style="text-align: center; margin-top: 10px">
    <div class="col-lg-12">
      <button (click)="Entrar()" class="btn btn-info btn-lg" >Entrar</button>
    </div>
  </div>
</div-->
<div class="container animated fadeInLeft faster">
    <div class="jumbotron" style="padding:50px;">
        <form (ngSubmit)="ngSubmit( f )" #f="ngForm" class="modal-content animate">
            <div class="imgcontainer">
                <img src="./assets/imagenes/login.png" alt="Smiley face">
            </div>
            <div class="container">
                <label><b>Usuario</b></label><br>
                <span *ngIf="f.submitted && f.controls['email'].errors" class="text-danger animated fadeIn">El email es obligatorio</span>
                <input type="text" placeholder="Email" [(ngModel)]="unJugador.email" name="email" required>

                <label><b>Clave</b></label><br>
                <span *ngIf="f.submitted && f.controls['password'].errors" class="text-danger animated fadeIn">La contraseña es obligatoria</span>
                <input type="password" placeholder="Clave" [(ngModel)]="unJugador.password" name="password" minlength="6" required>

                <button type="submit">Ingresar</button><br>
                <!-- (click)="MoverBarraDeProgreso( f ) -->
                <!-- <div class="progress"> -->
                <!-- *ngIf="!logeando" -->
                <!-- <div class="progress-bar progress-bar-info progress-bar-striped active" [class]="clase" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" [style.width]="ProgresoDeAncho">
                        {{progresoMensaje}} - {{progreso}}%
                    </div>
                </div> -->

                <input type="checkbox" [(ngModel)]="recordarme" name="remember-me"> Recordar mis datos <br>
            </div>

            <div class="container" style="background-color:#f1f1f1">
                <button type="button" routerLink="/Principal" class="cancelbtn">Cancelar</button>
                <button type="button" class="aceptbtn" routerLink="/Registro">Registrarse</button>
                <span class="psw">Te olvidaste <a href="#">la clave?</a></span>
            </div>
        </form>
    </div>
</div>