<div class="container animated fadeInLeft faster">
    <div class="jumbotron" style="padding:50px;">
        <form (ngSubmit)="ngSubmit( f )" #f="ngForm" class="modal-content animate">
            <div class="imgcontainer">
                <img src="./assets/imagenes/login.png" alt="Smiley face">
            </div>
            <div class="container">
                <label><b>Usuario</b></label><br>
                <span *ngIf="f.submitted && f.controls['email'].errors" class="text-danger animated fadeIn">El email es obligatorio</span>
                <input type="text" placeholder="Email" [(ngModel)]="unJugador.email" name="email" required>

                <label><b>Clave</b></label><br>
                <span *ngIf="f.submitted && f.controls['password'].errors" class="text-danger animated fadeIn">La contraseña es obligatoria</span>
                <input type="password" placeholder="Clave" [(ngModel)]="unJugador.password" name="password" minlength="6" required>

                <button type="submit">Ingresar</button><br>

                <input type="checkbox" [(ngModel)]="recordarme" name="remember-me"> Recordar mis datos <br>
            </div>

            <div class="container" style="background-color:#f1f1f1">
                <button type="button" class="aceptbtn" routerLink="/Registro">Registrarse</button>
                <!-- <span class="psw">Te olvidaste <a href="#">la clave?</a></span> -->
            </div>
        </form>
    </div>
</div>