<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
<link rel="stylesheet" href="//brick.a.ssl.fastly.net/Roboto:400" />

<script>
    // Get the modal
    var modal = document.getElementById('id02');

    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>


<div class="modal" id="id02" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="id02">RESULTADO</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                {{mensajeResultado}}
            </div>
            <div class="modal-footer">
                <button type="button" routerLink="/Juegos/AgilidadaMasListado" onclick="document.getElementById('id02').style.display='none'" class="btn btn-secondary " data-dismiss="modal">Close</button>
                <a type="button " class="btn " routerLink="/Principal ">Ir a menu de inicio</a>
            </div>
        </div>
    </div>
</div>

<div class="container " id="titulo ">
    <h1>
        {{nombreJuego | uppercase }}!
    </h1>
</div><br><br>

<div class="formJuego ">
    <div class="container row ">

        <div class="col-md-6 ">


            <h4>Primer Número: {{this.pNumero}}</h4>
            <h4>Operación: {{this.sOperador}}</h4>
            <h4>Segundo Número: {{this.sNumero}}</h4>

        </div>

        <div class="col-md-6 ">

            <h2 [hidden]="!ocultarVerificar "><a (click)="NuevoJuego() " class="btn btn-info btn-lg btn-block ">Nuevo</a></h2>

            <h2 [hidden]="ocultarVerificar "><a (click)="verificar() " class="btn btn-success btn-lg btn-block ">Verificar {{Tiempo}} </a></h2>
            <hr>

            <div class="input-group mb-3 ">
                Respuesta: <input [(ngModel)]="this.respuesta " placeholder="ingrese numero " name="numeroIngresado " type="text " class="form-control " style="width:50% " />
            </div>
            <hr>


        </div>

        <div class="container " style="align-content: center ">
            <h2>
                <p><i class="fa fa-spinner fa-spin "></i>Esperando a que te animes...</p>
            </h2>
        </div>



        <!-- <h3 [hidden]="!nuevoJuego.gano ">usted adivino el número</h3>
      <h3 [hidden]="nuevoJuego.gano ">usted aún no gano </h3> -->


    </div>

</div>