#titulo {
    text-align: center;
    color: brown;
    background-image: url("../../../assets/imagenes/cabecera.png");
}

h2 {
    text-align: center;
}

.formJuego {
    background-image: url("../../../assets/imagenes/madera.png");
}