<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
<link rel="stylesheet" href="//brick.a.ssl.fastly.net/Roboto:400" />

<div *ngIf="ganaste" id="id05" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ADIVINASTE 5 PALABRAS</h5>
                <button type="button" onclick="document.getElementById('id05').style.display='none'" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <p>El juego comenzará de cero</p>
            </div>
            <div class="clearfix">
                <div class="modal-footer">
                    <button type="button" onclick="document.getElementById('id05').style.display='none'" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                </div>
            </div>
        </div>
    </div>
</div>


<div id="id04" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <span onclick="document.getElementById('id04').style.display='none'" class="close" title="Close Modal">X</span>
            <form class="modal-content animate">
                <div class="container">
                    <h3 id="mensajeModal">{{mensajeResultado}}</h3>

                    <div class="clearfix">
                        <a type="button" class="btn" onclick="document.getElementById('id04').style.display='none'">Buscar más palabras</a>
                        <a type="button" class="btn" routerLink="/Principal">Ir a menu de inicio</a>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>


<!-- matriz sopa -->


<div class="container">

    <div id="matriz">
        <h1>{{Titulo}}</h1>
        <h3>{{Subtitulo}}</h3>

        <div id="sopa">
            <div><br></div>
            <ul *ngFor="let linea of matrizPrincipal">
                <ul>
                    <button (click)="verificar($event)" class="btnNormal" *ngFor="let obj of linea" [id]="obj.id">
                    {{ obj.contenido }}
                </button>
                </ul>
            </ul>
            <div class="separador"></div>

            <div id="wrapper">
                <button type="button" (click)="evaluar()" id="btnverificar" class="btn btn-success">Son todas!!</button>
            </div>
        </div>
    </div>
</div>