<div class="container">
<div class="panel panel-default">
    <div class="hero-text"><br><br>
        <h1 style="font-size:50px">Sala de Juegos</h1>
        <p>Federico Tomadin</p>
        <a href="https://github.com/federicotomadin" target="_blank">en GitHub <i class="fa fa-github"></i></a>
        <!-- <a routerLink="/QuienSoy">Quien Soy? <i class="fa fa-user"></i></a> -->
    </div>
    <!-- <ul class="nav navbar-nav navbar-right"> -->

    <ul class="nav navbar navbar-dark bg-dark">
        <button class="btn btn-outline-primary" (click) = SalirDeLaSesion() style="color: white"><span class="glyphicon glyphicon-user"></span>SALIR</button>
        <a *ngIf="token" routerLink="/Login" style="color: greenyellow"><span class="glyphicon glyphicon-log-in"></span>{{email}}</a>
    </ul>
</div>
</div>